<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/vendor/fontawesome-free-6.0.0-web/css/all.css">
    <link rel="stylesheet" href="/public/css/home/custom.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="stylesheet" href="/public/css/hover.css">
    <title>Document</title>
</head>
<!-- <img class="img-profile rounded-circle" src="img/undraw_profile.svg"> -->

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-bca-nav shadow">
            <div class="container-lg d-flex justify-content-between align-items-center">
                <a class="navbar-brand d-flex justify-content-center align-items-center"
                    href="{{ route('home.index') }}">
                    <img src="{{ asset('img/BCA-Logo.png') }}" alt="" class="myLogo">
                    <h2 class="text-bca my-auto navbar-title"> Breakthrough Christian Academy</h2>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <div class="navbar-toggler-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse flex-grow-0" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item nav-line mx-1 {{ Request::is('/') ? 'active' : '' }}">
                            <a href="{{ route('home.index') }}" class="nav-link hover-bca p-3 text-bca">Home</a>
                        </li>
                        <!-- <li class="nav-item nav-line mx-1 dropdown {{ Request::is('about us/*') ? 'active' : '' }}">
                            <a class="nav-link  hover-bca p-3 text-bca" href="#">About us</a>
                            <ul class="dropdown-menu bg-bca" id="dd">
                                <li><a href="{{ route('about.index') }}" class="dropdown-item p-3 text-light hover-bca-dd">Mission and Vision</a>
                                </li>
                                <li><a href="{{ route('about.index') }}" class="dropdown-item p-3 text-light hover-bca-dd">History</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-line mx-1 dropdown {{ Request::is('academics/*') ? 'active' : '' }}">
                            <a href="{{ route('academics.index') }}" class="nav-link hover-bca  p-3 text-bca">Academics</a>
                            <ul class="dropdown-menu bg-bca" id="dd">
                                <li><a href="{{ route('primary.index') }}" class="dropdown-item p-3 text-light hover-bca-dd">Primary &#160;&#160;&#160;&#160;&#160;&#160;<i class="fa-solid fa-angle-right"></i></a>
                                    <ul class="submenu dropdown-menu bg-bca">
                                        <li><a href="{{ route('primary.index') }}" class="dropdown-item p-3 text-light hover-bca-dd">Nursery</a>
                                        </li>
                                        <li><a href="{{ route('primary.index') }}"
                                                class="dropdown-item p-3 text-light hover-bca-dd">Kindergarten</a>
                                        </li>
                                        <li><a href"{{ route('primary.index') }}"
                                                class="dropdown-item p-3 text-light hover-bca-dd">Preparatory</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="{{ route('elementary.index') }}" class="dropdown-item p-3 text-light hover-bca-dd">Elementary</a>
                                </li>
                                <li><a href="{{ route('juniorhighschool.index') }}" class="dropdown-item p-3 text-light hover-bca-dd">Juior Highschool</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-line mx-1 dropdown {{ Request::is('enroll','calendar') ? 'active' : '' }}">
                            <a href="#" class="nav-link  hover-bca p-3 text-bca">Student</a>
                            <ul class="dropdown-menu bg-bca" id="dd">
                                <li><a href="{{ route('portal.index') }}" class="dropdown-item p-3 text-light hover-bca-dd">Portal</a>
                                </li>
                                <li><a href="{{ route('enroll.index') }}" class="dropdown-item p-3 text-light hover-bca-dd">Enroll</a>
                                </li>
                                <li><a href="{{ route('calendar.index') }}" class="dropdown-item p-3 text-light hover-bca-dd">Academic Calendar</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container vh-100 d-flex justify-content-center align-items-center pt-home">
        <div class="col-7" style="display: block;" id="student">
            <div class="shadow card slide-in-bottom rounded-bottom">
                <div class="bg-bca d-flex flex-column align-items-center justify-content-center py-2 rounded-top mb-3">
                    <h1 class="h3 text-gray-800 text-center text-light ">Student’s Information</h1>
                </div>
                <div class="px-3 mb-3">
                    <div class="form-row">
                        <div class="col-8 mb-3">
                            <label for="student_lrn" class="text-dark font-weight-bold">Learner Reference
                                Number
                                (LRN) <span class="text-danger">*</span>:</label>
                            <input class="form-control w-50" type="text" name="student_lrn" id="student_lrn"
                                placeholder="Student LRN" value="{{ old('student_lrn') }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-5 mb-3 mr-3">
                            <label for="first_name" class="text-dark font-weight-bold">First name <span
                                    class="text-danger">*</span>:</label>
                            <input class="form-control" type="text" name="first_name" id="first_name"
                                placeholder="First name" value="{{ old('first_name') }}">
                        </div>
                        <div class="col-md-5 mb-3 mr-3">
                            <label for="middle_name" class="text-dark font-weight-bold">Middle name <span
                                    class="text-danger">*</span>:</label>
                            <input class="form-control " type="text" name="middle_name" id="middle_name"
                                placeholder="Middle name" value="{{ old('middle_name') }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-5 mb-3 mr-3">
                            <label for="last_name" class="text-dark font-weight-bold">Last name <span
                                    class="text-danger">*</span>:</label>
                            <input class="form-control" type="text" name="last_name" id="last_name"
                                placeholder="Last name" value="{{ old('last_name') }}">
                        </div>
                        <div class="col-md-5 mb-3 mr-3">
                            <label for="ext_name" class="text-dark font-weight-bold">Ext. name:</label>
                            <input class="form-control" type="text" name="ext_name" id="ext_name"
                                placeholder="Jr. Ma. | write none if you dont have Ext name"
                                value="{{ old('ext_name') }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3 mr-3">

                            <label for="Male" class="text-dark font-weight-bold">Gender <span
                                    class="text-danger">*</span>:</label>
                            <!--  <div>
                            @if (old('gender') == 'Male')
                                <label for="male" class="radio-inline py-2 mr-1"><input type="radio" name="gender" id="male"
                                        value="Male" value="{{ old('gender') }}" checked>
                                    Male</label>
                            @else
                                <label for="male" class="radio-inline py-2 mr-1"><input type="radio" name="gender" id="male"
                                        value="Male" value="{{ old('gender') }}">
                                    Male</label>
                            @endif

                            @if (old('gender') == 'Female')
                                <label for="female" class="radio-inline"><input type="radio" name="gender" id="female"
                                        value="Female" value="{{ old('gender') }}" checked>
                                    Female</label>
                            @else
                                <label for="female" class="radio-inline"><input type="radio" name="gender" id="female"
                                        value="Female" value="{{ old('gender') }}">
                                    Female</label>
                            @endif

                        </div> -->
                        </div>
                        <div class="col-md-4 mb-3 mr-3">
                            <label for="age" class="text-dark font-weight-bold">Age <span
                                    class="text-danger">*</span>:</label>
                            <input class="form-control w-50" type="number" name="age" id="age" placeholder="Age"
                                value="{{ old('age') }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-5 mb-3 mr-3">
                            <label for="email" class="text-dark font-weight-bold">Email <span
                                    class="text-danger">*</span>:</label>
                            <input class="form-control" type="email" name="email" id="email"
                                placeholder="Ex. student@email.com" value="{{ old('email') }}">
                        </div>
                        <div class="col-md-5 mb-3 mr-3">
                            <label for="birthdate" class="text-dark font-weight-bold">Birthdate <span
                                    class="text-danger">*</span>:</label>
                            <input class="form-control " type="date" name="birthdate" id="birthdate"
                                placeholder="birthdate" value="{{ old('birthdate') }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3 mr-3">
                            <label for="birthplace" class="text-dark font-weight-bold">Birthplace:</label>
                            <input class="form-control" type="text" name="birthplace" id="birthplace"
                                placeholder="Ex. Quezon City" value="{{ old('birthplace') }}">
                        </div>
                        <div class="col-md-4 mb-3 mr-3">
                            <label for="address" class="text-dark font-weight-bold">Address <span
                                    class="text-danger">*</span>:</label>
                            <input class="form-control" type="text" name="address" id="address"
                                placeholder="Ex. Brgy Lamot 2, Calauan Laguna" value="{{ old('address') }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-5">
                            <label for="grade_level_id " class="text-dark font-weight-bold">Year Level <span
                                    class="text-danger">*</span>:</label>
                            <select name="grade_level_id" id="grade_level_id " class="form-control">
                                <option selected>--- Select grade level ---</option>
                                @foreach ($gradelevels as $gradelevel)
                                <option value="{{ $gradelevel->grade_level }}">{{ $gradelevel->grade_name }}</option>
                                @endforeach
                            </select>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end px-4 mt-3 mb-4">
                    <!-- <button type="button" onclick="back()" class="btn btn-bca mr-2">Back</button> -->
                    <button type="button" onclick="next()"
                        class="btn btn-bca-outline text-bca hvr-sweep-to-bottom">Next</button>
                </div>
            </div>
        </div>
        <div class="col-7" style="display: none;" id="parent-father">
            <div class="shadow card slide-in-bottom rounded-bottom">
                <div class="bg-bca d-flex flex-column align-items-center justify-content-center py-2 rounded-top mb-3">
                    <h1 class="h3 text-gray-800 text-center text-light ">Father’s Information</h1>
                </div>
                <div class="px-3 mb-3">
                    <div class="form-row">
                        <div class="col-md-4 mb-3 mr-3">
                            <label for="father_name" class="text-dark font-weight-bold">Father’s Full
                                name:</label>
                            <input class="form-control" type="text" name="father_name" id="father_name"
                                placeholder="Ex. Juan G. Dela Cruz" value="{{ old('father_name') }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mr-3 mb-3">
                            <label for="father_birthdate"
                                class="text-dark font-weight-bold">Birthdate:</label>
                            <input class="form-control" type="date" name="father_birthdate" id="father_birthdate"
                                value="{{ old('father_birthdate') }}">
                        </div>
                        <div class="col-md-4 mr-3 mb-3">
                            <label for="father_email" class="text-dark font-weight-bold">Email:</label>
                            <input class="form-control" type="text" name="father_email" id="father_email" placeholder=""
                                value="{{ old('father_email') }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mr-3 mb-3">
                            <label for="father_landline" class="text-dark font-weight-bold">Landline:</label>
                            <input class="form-control" type="text" name="father_landline" id="father_landline"
                                placeholder="" value="{{ old('father_landline') }}">
                        </div>
                        <div class="col-md-4 mr-3 mb-3">
                            <label for="father_contact_no" class="text-dark font-weight-bold">Contact
                                no.:</label>
                            <input class="form-control" type="text" name="father_contact_no" id="father_contact_no"
                                placeholder="" value="{{ old('father_contact_no') }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mr-3 mb-3">
                            <label for="father_occupation"
                                class="text-dark font-weight-bold">Occupation:</label>
                            <input class="form-control" type="text" name="father_occupation" id="father_occupation"
                                value="{{ old('father_occupation') }}">
                        </div>
                        <div class="col-md-4 mr-3 mb-3">
                            <label for="father_office_address" class="text-dark font-weight-bold">Office
                                address:</label>
                            <input class="form-control" type="text" name="father_office_address"
                                id="father_office_address" placeholder="" value="{{ old('father_office_address') }}">
                        </div>

                        <div class="col-md-4 mr-3 mb-3">
                            <label for="father_office_contact" class="text-dark font-weight-bold">Office
                                Contact
                                no.:</label>
                            <input class="form-control" type="text" name="father_office_contact"
                                id="father_office_contact" placeholder="" value="{{ old('father_office_contact') }}">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end px-4 mt-3 mb-4">
                    <button type="button" onclick="back()" class="btn btn-bca mr-2">Back</button>
                    <button type="button" onclick="next()"
                        class="btn btn-bca-outline text-bca hvr-sweep-to-bottom">Next</button>
                </div>
            </div>
        </div>


    </div>


    <script src="/public/js/bootstrap/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script>
        const student = document.getElementById('student'); //1
        const father = document.getElementById('parent-father');//2
        function next() {
            if (student.style.display == "block") {
                student.style.animation = "slide-out-top 0.5s ease";
                student.style.display = "none";
                setTimeout(() => {
                    father.style.display = "block";
                }, 0.6);
                father.style.animation = "slide-in-bottom 0.5s ease";
                console.log('student');
            }
            if (father.style.display == "block") {

                console.log('parents');
            }


            /*  first.style.animation = "slide-out-top 0.5s ease";
             first.style.display = "none";

             setTimeout(() => {
                 old.style.display = "block";
             }, 0.6);
             old.style.animation = "slide-in-bottom 0.5s ease";
             console.log('old student'); */
        }
        function back() {
            if (father.style.display == "block") {
                father.style.animation = "slide-out-top 0.5s ease";
                father.style.display = "none";
                setTimeout(() => {
                    student.style.display = "block";
                }, 0.6);
                student.style.animation = "slide-in-bottom 0.5s ease";
                console.log('parents');
            }
        }
    </script>

</body>

</html>
