<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/public/css/home/custom.css">
    <link rel="stylesheet" href="/public/css/hover.css">
    <!-- page level css -->
    <link rel="stylesheet" href="/public/owl-carousel/assets/css/docs.theme.min.css">

    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="/public/owl-carousel/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/owl-carousel/assets/owlcarousel/assets/owl.theme.default.min.css">
    <title>Document</title>
</head>
<!-- <img class="img-profile rounded-circle" src="img/undraw_profile.svg"> -->

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-bca-nav shadow">
            <div class="container-lg d-flex justify-content-between align-content-center">
                <a class="navbar-brand d-flex justify-content-center align-content-center" href="#">
                    <img src="/public/img/BCA-Logo.png" alt="" class="myLogo">
                    <h2 class="text-bca my-auto navbar-title"> Breakthrough Christian Academy</h2>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <div class="navbar-toggler-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse flex-grow-0" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item nav-line mx-1 active">
                            <a href="#" class="nav-link hover-bca p-3 text-bca">Home</a>
                        </li>
                        <li class="nav-item nav-line mx-1 dropdown">
                            <a class="nav-link  hover-bca p-3 text-bca" href="#">About us</a>
                            <ul class="dropdown-menu bg-bca" id="dd">
                                <li><a href="#" class="dropdown-item p-3 text-light hover-bca-dd">Mission and Vision</a>
                                </li>
                                <li><a href="#" class="dropdown-item p-3 text-light hover-bca-dd">History</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-line mx-1 dropdown">
                            <a href="#" class="nav-link hover-bca  p-3 text-bca">Academics</a>
                            <ul class="dropdown-menu bg-bca" id="dd">
                                <li><a href="#" class="dropdown-item p-3 text-light hover-bca-dd">Primary</a>
                                    <ul class="submenu dropdown-menu bg-bca">
                                        <li><a href="#" class="dropdown-item p-3 text-light hover-bca-dd">Nursery</a>
                                        </li>
                                        <li><a href="#"
                                                class="dropdown-item p-3 text-light hover-bca-dd">Kindergarten</a>
                                        </li>
                                        <li><a href="#"
                                                class="dropdown-item p-3 text-light hover-bca-dd">Preparatory</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#" class="dropdown-item p-3 text-light hover-bca-dd">Elementary</a>
                                </li>
                                <li><a href="#" class="dropdown-item p-3 text-light hover-bca-dd">Juior High School</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-line mx-1 dropdown ">
                            <a href="#" class="nav-link  hover-bca p-3 text-bca">Student</a>
                            <div class="dropdown-menu bg-bca">
                                <a href="http://127.0.0.1:8000/portal"
                                    class="dropdown-item p-3 text-light hover-bca-dd">Student portal</a>
                                <a href="http://127.0.0.1:8000/home/calendar"
                                    class="dropdown-item p-3 text-light hover-bca-dd">Academic calendar</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container pt-home border">
        <div class="container">
            <div class="row">
                <div class="container ">
                    a
                </div>
            </div>
            <section id="demos">
                <div class="row">
                    <div class="large-12 columns">
                        <div class="owl-carousel owl-theme">
                            <div class="item rounded" style=" height: 25rem;">
                                <img src="/public/img/samplePictures/nursery.jpg" alt="">
                            </div>
                            <div class="item" style=" height: 25rem;">
                                <img src="/public/img/samplePictures/nursery.jpg" alt="">
                            </div>
                            <div class="item" style=" height: 25rem;">
                                <img src="/public/img/samplePictures/nursery.jpg" alt="">
                            </div>
                            <div class="item" style="height: 25rem;">
                                <img src="/public/img/samplePictures/nursery.jpg" alt="">
                            </div>
                            <div class="item" style=" height: 25rem;">
                                <img src="/public/img/samplePictures/nursery.jpg" alt="">
                            </div>
                            <div class="item" style=" height: 25rem;">
                                <img src="/public/img/samplePictures/nursery.jpg" alt="">
                            </div>


                        </div>
                        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
                        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

                        <!-- Yeah i know js should not be in header. Its required for demos.-->

                        <!-- javascript -->
                        <script src="/public/owl-carousel/assets/vendors/jquery.min.js"></script>
                        <script src="/public/owl-carousel/assets/owlcarousel/owl.carousel.js"></script>

                        <script>
                            $(document).ready(function () {
                                $('.owl-carousel').owlCarousel({
                                    loop: true,
                                    margin: 5,
                                    autoWidth: true,
                                    responsiveClass: true,
                                    autoplay: true,
                                    autoplayTimeout: 3000,
                                    autoplayHoverPause: true,
                                    responsive: {
                                        0: {
                                            items: 1,
                                            nav: true
                                        },
                                        600: {
                                            items: 3,
                                            nav: false
                                        },
                                        1000: {
                                            items: 5,
                                            margin: 20
                                        },
                                        2000: {
                                            items: 8,
                                            margin: 20
                                        }
                                    }
                                })
                            })
                        </script>
                    </div>
                </div>
            </section>
        </div>
        <!-- vendors -->
        <script src="/public/owl-carousel/assets/vendors/highlight.js"></script>
        <script src="/public/owl-carousel/assets/js/app.js"></script>
    </div>
    <footer class="footer-bg">
        <div class="container-md py-4">
            <div class="row">
                <div class="col-sm col-md">
                    <div class="container">
                        <h4 class="footer-title">CONTACT US</h4>
                        <div class="row mt-3 px-2">
                            <div class="row mb-2">
                                <span>
                                    <i class="fas fa-map-marker-alt footer-icon-o"></i>
                                    <span class="footer-text">9006 Eagle Street Main Road, Area 3 SItio Veterans, Bagong
                                        SIlangan 1100 Quezon City, Philippines</span>
                                </span>
                            </div>
                            <div class="row mb-2">
                                <span>
                                    <i class="fas fa-phone-alt footer-icon-o"></i>
                                    <span class="footer-text">(02) 990 5970</span>
                                </span>
                            </div>
                            <div class="row">
                                <span>
                                    <i class="fas fa-envelope footer-icon-o"></i>
                                    <span class="footer-text">breakthru_christian@yahoo.com</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <h4 class="footer-title">Stay connected with us</h4>
                        <div class="row mt-3 px-2">
                            <a href="https://www.facebook.com/Breakthrough-Christian-Academy-146316647685"
                                target="__blank"
                                class="text-decoration-none col-1 footer-icon-border hvr-sweep-to-bottom">
                                <i class="fab fa-facebook-f footer-icon "></i>
                            </a>
                            <a href="" class="text-decoration-none col-1 footer-icon-border hvr-sweep-to-bottom">
                                <i class="fab fa-youtube footer-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-md my-1">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4718.3033999990985!2d121.1035459152845!3d14.709218778347937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397bbede23753e7%3A0x3bf4fd9f1aa31fe2!2sBreakthrough%20Christian%20Academy!5e1!3m2!1sen!2sph!4v1637679710376!5m2!1sen!2sph"
                        width="100%" height="300" allowfullscreen="" loading="lazy" class="border-white"
                        style="border: 2px solid #fff"></iframe>
                </div>
            </div>
        </div>
    </footer>






    <script src="/public/js/bootstrap/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>
