<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/app.css" />
        <!-- <link rel="stylesheet" href="/public/vendor/bootstrap/dist/css/bootstrap.min.css"> -->
        <link
            rel="stylesheet"
            href="/public/vendor/fontawesome-free/css/all.min.css"
        />
        <link rel="stylesheet" href="/public/css/hover.css" />
        <link rel="stylesheet" href="/public/css/admin-css/custom.css" />
        <link rel="stylesheet" href="/public/css/home/custom.css" />
        <title>Document</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <h1 class="home-title py-4 mx-3">Latest News & Events</h1>
            </div>
            <div class="row overflow-x flex-nowrap">
                <div class="col-sm-4 col-md-5">
                    <article class="border news-hover">
                        <div class="container my-2">
                            <div class="row mt-2">
                                <a
                                    href="#"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <img
                                        src="{{ asset('img/announcements/1.jpg') }}"
                                        alt=""
                                        class="img-fluid border"
                                    />
                                </a>
                            </div>
                            <div class="row px-3">
                                <div class="d-flex flex-column">
                                    <h2 class="news-title my-2">title</h2>
                                    <i class="fas fa-clock my-2">
                                        <time>October 28, 2021</time></i
                                    >
                                </div>
                                <div class="my-2">
                                    <p class="text-justify">
                                        Lorem ipsum dolor sit, amet consectetur
                                        adipisicing elit. Nesciunt modi culpa
                                        quaerat maiores, quos exercitationem
                                        sapiente aut odio deleniti tempora
                                        consectetur blanditiis ad voluptatum
                                        ipsum. Commodi ullam perspiciatis
                                        corrupti voluptatem molestiae
                                        reiciendis. Lorem ipsum dolor sit, amet
                                        consectetur adipisicing elit. Nesciunt
                                        modi culpa quaerat maiores, quos
                                        exercitationem sapiente aut odio
                                        deleniti tempora consectetur blanditiis
                                        ad voluptatum ipsum. Commodi ullam
                                        perspiciatis corrupti voluptatem
                                        molestiae reiciendis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-4 col-md-5">
                    <article class="border news-hover">
                        <div class="container my-2">
                            <div class="row mt-2">
                                <a
                                    href="#"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <img
                                        src="{{ asset('img/announcements/1.jpg') }}"
                                        alt=""
                                        class="img-fluid border"
                                    />
                                </a>
                            </div>
                            <div class="row px-3">
                                <div class="d-flex flex-column">
                                    <h2 class="news-title my-2">title</h2>
                                    <i class="fas fa-clock my-2">
                                        <time>October 28, 2021</time></i
                                    >
                                </div>
                                <div class="my-2">
                                    <p class="text-justify">
                                        Lorem ipsum dolor sit, amet consectetur
                                        adipisicing elit. Nesciunt modi culpa
                                        quaerat maiores, quos exercitationem
                                        sapiente aut odio deleniti tempora
                                        consectetur blanditiis ad voluptatum
                                        ipsum. Commodi ullam perspiciatis
                                        corrupti voluptatem molestiae
                                        reiciendis. Lorem ipsum dolor sit, amet
                                        consectetur adipisicing elit. Nesciunt
                                        modi culpa quaerat maiores, quos
                                        exercitationem sapiente aut odio
                                        deleniti tempora consectetur blanditiis
                                        ad voluptatum ipsum. Commodi ullam
                                        perspiciatis corrupti voluptatem
                                        molestiae reiciendis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-4 col-md-5">
                    <article class="border news-hover">
                        <div class="container my-2">
                            <div class="row mt-2">
                                <a
                                    href="#"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <img
                                        src="{{ asset('img/announcements/1.jpg') }}"
                                        alt=""
                                        class="img-fluid border"
                                    />
                                </a>
                            </div>
                            <div class="row px-3">
                                <div class="d-flex flex-column">
                                    <h2 class="news-title my-2">title</h2>
                                    <i class="fas fa-clock my-2">
                                        <time>October 28, 2021</time></i
                                    >
                                </div>
                                <div class="my-2">
                                    <p class="text-justify">
                                        Lorem ipsum dolor sit, amet consectetur
                                        adipisicing elit. Nesciunt modi culpa
                                        quaerat maiores, quos exercitationem
                                        sapiente aut odio deleniti tempora
                                        consectetur blanditiis ad voluptatum
                                        ipsum. Commodi ullam perspiciatis
                                        corrupti voluptatem molestiae
                                        reiciendis. Lorem ipsum dolor sit, amet
                                        consectetur adipisicing elit. Nesciunt
                                        modi culpa quaerat maiores, quos
                                        exercitationem sapiente aut odio
                                        deleniti tempora consectetur blanditiis
                                        ad voluptatum ipsum. Commodi ullam
                                        perspiciatis corrupti voluptatem
                                        molestiae reiciendis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-4 col-md-5">
                    <article class="border news-hover">
                        <div class="container my-2">
                            <div class="row mt-2">
                                <a
                                    href="#"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <img
                                        src="{{ asset('img/announcements/1.jpg') }}"
                                        alt=""
                                        class="img-fluid border"
                                    />
                                </a>
                            </div>
                            <div class="row px-3">
                                <div class="d-flex flex-column">
                                    <h2 class="news-title my-2">title</h2>
                                    <i class="fas fa-clock my-2">
                                        <time>October 28, 2021</time></i
                                    >
                                </div>
                                <div class="my-2">
                                    <p class="text-justify">
                                        Lorem ipsum dolor sit, amet consectetur
                                        adipisicing elit. Nesciunt modi culpa
                                        quaerat maiores, quos exercitationem
                                        sapiente aut odio deleniti tempora
                                        consectetur blanditiis ad voluptatum
                                        ipsum. Commodi ullam perspiciatis
                                        corrupti voluptatem molestiae
                                        reiciendis. Lorem ipsum dolor sit, amet
                                        consectetur adipisicing elit. Nesciunt
                                        modi culpa quaerat maiores, quos
                                        exercitationem sapiente aut odio
                                        deleniti tempora consectetur blanditiis
                                        ad voluptatum ipsum. Commodi ullam
                                        perspiciatis corrupti voluptatem
                                        molestiae reiciendis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-4 col-md-5">
                    <article class="border news-hover">
                        <div class="container my-2">
                            <div class="row mt-2">
                                <a
                                    href="#"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <img
                                        src="{{ asset('img/announcements/1.jpg') }}"
                                        alt=""
                                        class="img-fluid border"
                                    />
                                </a>
                            </div>
                            <div class="row px-3 d-flex flex-column">
                                <div class="d-flex flex-column">
                                    <h2 class="news-title my-2">title</h2>
                                    <i class="fas fa-clock my-2">
                                        <time>October 28, 2021</time></i
                                    >
                                </div>
                                <div class="my-2">
                                    <p class="text-justify">
                                        Lorem ipsum dolor sit, amet consectetur
                                        adipisicing elit. Nesciunt modi culpa
                                        quaerat maiores, quos exercitationem
                                        sapiente aut odio deleniti tempora
                                        consectetur blanditiis ad voluptatum
                                        ipsum. Commodi ullam perspiciatis
                                        corrupti voluptatem molestiae
                                        reiciendis. Lorem ipsum dolor sit, amet
                                        consectetur adipisicing elit. Nesciunt
                                        modi culpa quaerat maiores, quos
                                        exercitationem sapiente aut odio
                                        deleniti tempora consectetur blanditiis
                                        ad voluptatum ipsum. Commodi ullam
                                        perspiciatis corrupti voluptatem
                                        molestiae reiciendis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
