<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/public/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/public/css/home/custom-portal.css">
    <link rel="stylesheet" href="/public/css/hover.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="portal-bg">
        <div class="col">

        </div>
        <div class="portal-r-blur">
            <div class="container px-5">
                <div class="row justify-content-center px-5">
                    <div class="row justify-content-center align-items-center portal-img mb-3 mt-5">
                        <img src="{{ asset('img/BCA-Logo.png') }}" alt="" class="img-fluid">
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <h1 class="mx-auto portal-sub-title mb-3"> Please click or tap your destination.</h1>
                    </div>
                    <a href="#" class="btn btn-lg btn-primary my-3 px-5">Student</a>
                    <a href="#" class="btn btn-lg btn-primary px-5">Teacher</a>
                </div>
            </div>
        </div>
    </div>



    <script src="/public/js/bootstrap/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>
