:root {
    --bca: #0b2090;
    --bca-hover: #041470;
    --text-color: #2b3233;
}
/* manage | icons */
.m-icons {
    font-size: 170px;
    color: #0b2090;
}
.bg-bca {
    background-color: var(--bca) !important;
}
.student-picture {
    height: 300px;
    width: 300px;
}
.header-bg {
    background: #7b7b78;
}
.fw-bolder {
    font-weight: bolder;
}
.custom-alert {
    position: absolute;
    top: 30px;
    width: 300px;
    right: 10px;
    z-index: 10000;
}

.alert {
    opacity: 1;

}
 .alert.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.alert.fade.in {
    opacity: 1;
}
